{% extends 'base.html.twig' %}

{% block title %}répondre à un quiz
{% endblock %}

{% block body %}
<form method="post">
	<h1>Répondre à un quiz</h1>
	{% for questions in quizquestion %}
		{% for questions in questions.question %}
			<h2>{{questions.texte}}</h2>
			<div>
{% for reponse in questions.reponses %}
<p><input type="checkbox" id="q {{ questions.id }} r {{ reponse.id }}" name="q {{ questions.id }} r {{ reponse.id }}" value="{{ reponse.id }}"></p>
<label for="q {{ questions.id }} r {{ reponse.id }}">{{ reponse.texte }}</label>
{% endfor %}
			</div>
			{% endfor %}
		{% endfor %}
    <button class="btn">{{ button_label|default('Répondre') }}</button>
</form>
	{% endblock %}

	{% block javascripts %}{% endblock %}
