{% extends 'base.html.twig' %}

{% block title %}
	{{ quiz.nom }}
{% endblock %}

{% block body %}
<h1>Quiz
	{{ quiz.nom }}</h1>

<table class="table">
	<tbody>
		<tr>
			<th>Nombre de question</th>
			<td>{{ quiz.question|length }}</td>
		</tr>
		{% for question in quiz.question %}
			<tr>
				<th>Question{{ loop.index }}</th>
				<td>
					<p><a href="{{ path('question_edit', {'id': question.id}) }}">éditer {{ question.texte }}</a></p>
</td>
{% for reponse in question.reponses %}
                <th>réponse{{ loop.index }}</th>
                <td>
{{ reponse.texte }}
                </td>
			</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
{% endblock %}
